@charset "utf-8";
#left #login{
	background-image:url(../img/login.jpg);
	background-repeat:no-repeat;
	width:180px;
	height:50px;
}
#left #login ul{
	padding-top:50px;
	list-style-type:none;
	padding-left:23px;
}
#left #login ul .txtStyle{
	border:none;
	width:100px;
	border-bottom:1px solid #000;
}
#left #login ul li .btnStyle{
	border:none;
	border:1px solid #000;
	width:35px;
}
#left #login ul li{
	padding-bottom:8px;
}
#left #login ul li a{
	color:#000;
}
#left #category{
	background-image:url(../img/category.jpg);
	background-repeat:no-repeat;
	width:180px;
	height:50ps;
	margin-top:80px;
	padding-top:55px;
	padding-left:23px;
}
#left #category h3{
	width:140px;
	margin-bottom:5px;
	background-color:#FCC;
}
#left #category ul{
	margin-top:5px;
	margin-bottom:5px;
}
#left #category ul li{
	margin-top:5px;
	padding-left:15px;
	margin-bottom:3px;
	border-bottom:1px dashed #666;
	width:125px;
	background-image:url(../img/icon1.gif);
	background-repeat:no-repeat;
	background-position:5px 5px;
}

	


